.estiloContenedor, .contenedor {
  background-color: skyblue;
  display: inline-block;
  position: absolute;
  align-items: center;
  text-align: center;
  color: #080807;
  padding: 0px 20px 0px 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49); }

header {
  color: white;
  background-color: #fccb7e;
  position: fixed;
  width: 100%;
  z-index: 2000; }
  header h1 {
    padding: 10px 0px 10px 0px;
    text-align: center; }
    header h1 a {
      text-decoration: none;
      color: white; }
    header h1:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  header h2 {
    padding-left: 25px;
    border-top: 1px solid #f5bb5e; }

.estiloContenedor, .contenedor {
  background-color: skyblue;
  display: inline-block;
  position: absolute;
  align-items: center;
  text-align: center;
  color: #080807;
  padding: 0px 20px 0px 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49); }

.estiloContenedor, .contenedor {
  background-color: skyblue;
  display: inline-block;
  position: absolute;
  align-items: center;
  text-align: center;
  color: #080807;
  padding: 0px 20px 0px 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49); }

footer {
  background-color: #fccb7e; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Outfit', sans-serif;
  background-color: burlywood; }

/* NAVEGACION */
.colornavbar {
  background-color: #f5cba7; }

.contenedor {
  background-color: skyblue;
  display: inline-block;
  position: absolute;
  align-items: center;
  text-align: center;
  color: #080807;
  padding: 0px 20px 0px 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49); }

h4 {
  color: #080807;
  background-color: skyblue;
  text-align: center;
  max-width: 100%;
  padding: 200px 0px 20px 0px;
  margin: 0px; }

h5 {
  color: #080807;
  background-color: skyblue;
  text-align: center;
  max-width: 100%;
  padding: 20px 0px 20px 0px;
  margin: 0px; }

/* CONTACTO */
.formulario {
  position: absolute;
  left: 38%;
  margin: 250px 15px 15px 15px;
  margin-bottom: 20px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  max-width: 300px; }

.formularioInterno {
  background-color: #fccb7e;
  border: none;
  border-width: 2px;
  border-color: #90724a;
  border-radius: 10px;
  padding: 10px 20px 20px 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 15px; }

.primario, .secundario {
  background-color: white;
  padding: 5px;
  border: none; }
  .primario:hover, .secundario:hover {
    cursor: pointer; }

/* CONTACTO WPP */
.Whatsapp {
  left: 93%;
  top: 75%;
  position: fixed;
  cursor: pointer;
  z-index: 200; }

.fondoFlex {
  background-image: url(../img/Contact/Contact1.jpg);
  padding: 980px 20px 25px 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

/* PRODUCTOS */
/*INDEX*/
.container-fluid0 .row {
  background-image: url(../img/imagenprincipalbw.jpg);
  align-items: center; }

.container-fluid0 img {
  max-width: 100%;
  padding: 300px 50px 30px 50px;
  align-items: center; }

.container-fluid0 .precio {
  padding: 10px 0px 0px 0px;
  text-align: center;
  background-color: #f5cba7;
  -webkit-box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75); }

.container-fluid0 a {
  text-decoration: none;
  color: black; }

/*OTRAS PAGINAS*/
.container-fluid1 .row {
  background-image: url(../img/imagenprincipalbw.jpg);
  align-items: center; }

.container-fluid1 img {
  max-width: 100%;
  padding: 80px 50px 30px 50px;
  align-items: center; }

.container-fluid1 .precio {
  padding: 10px 0px 0px 0px;
  text-align: center;
  background-color: #f5cba7;
  -webkit-box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75); }

.container-fluid2 .row {
  background-image: url(../img/imagenPrincipal3.jpg);
  align-items: center; }

.container-fluid2 img {
  max-width: 100%;
  padding: 90px 50px 30px 50px;
  align-items: center; }

.container-fluid2 .precio {
  padding: 10px 0px 0px 0px;
  text-align: center;
  background-color: #f5cba7;
  -webkit-box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75); }

.container-fluid3 .row {
  background-image: url(../img/imagenPrincipal2.jpg);
  align-items: center; }

.container-fluid3 img {
  max-width: 100%;
  padding: 90px 50px 30px 50px;
  align-items: center; }

.container-fluid3 .precio {
  padding: 10px 0px 0px 0px;
  text-align: center;
  background-color: #f5cba7;
  -webkit-box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 6px 17px 1px rgba(0, 0, 0, 0.75); }

.contenedor {
  margin: 240px 200px 100px 650px; }

.container {
  max-width: 100%; }

/* PC */
@media (max-width: 1455px) {
  .contenedor {
    width: 40%;
    margin-left: 190px;
    margin-right: auto; } }

/* IPAD */
@media (max-width: 768px) {
  .contenedor {
    width: 45%;
    margin-left: 160px;
    /* margin-right: auto; */ } }

/* IPHONE */
@media (max-width: 300px) {
  .contenedor {
    width: 50%;
    margin-left: 100px;
    margin-right: auto; } }
