header {
  color: white;
  background-color: #e4ae67;
  position: fixed;
  width: 100%;
  z-index: 2000;
  grid-area: header; }
  header h1 {
    padding: 20px 0px 15px 0px;
    text-align: center; }
    header h1 a {
      text-decoration: none;
      color: white; }
    header h1:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  header h2 {
    padding-left: 25px; }

/* PC */
@media (max-width: 1455px) {
  .contenedor {
    width: 40%;
    margin-left: 190px;
    margin-right: auto; }
  .contenedor2 {
    width: 40%;
    margin-top: 2150px;
    margin-left: 190px;
    margin-right: auto; }
  .contenedor3 {
    width: 40%;
    margin-top: 4100px;
    margin-left: 190px;
    margin-right: auto; } }

/* IPAD */
@media (max-width: 768px) {
  .contenedor {
    width: 40%;
    margin-left: 190px;
    /* margin-right: auto; */ }
  .contenedor2 {
    width: 40%;
    margin-top: 265%;
    margin-left: 190px;
    /* margin-right: auto; */ }
  .contenedor3 {
    width: 40%;
    margin-top: 2530px;
    margin-left: 190px;
    /* margin-right: auto; */ } }

/* IPHONE */
@media (max-width: 500px) {
  .contenedor {
    width: 40%;
    margin-left: 190px;
    margin-right: auto; }
  .contenedor2 {
    width: 40%;
    margin-top: 265%;
    margin-left: 190px;
    /* margin-right: auto; */ }
  .contenedor3 {
    width: 40%;
    margin-top: 2350px;
    margin-left: 190px;
    /* margin-right: auto; */ } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Outfit', sans-serif;
  background-color: burlywood; }

/* NAVEGACION */
.colornavbar {
  background-color: #f5cba7; }

/* CONTACTO */
.formulario {
  position: absolute;
  left: 40%;
  margin: 250px 15px 15px 15px;
  margin-bottom: 20px;
  padding: 30px 30px 30px 30px;
  /* border: solid 1px rgb(144, 114, 74); */
  border-radius: 30px;
  max-width: 300px;
  grid-area: formulario; }

.formularioInterno {
  background-color: #e8cdaa;
  border: none;
  border-width: 2px;
  border-color: #90724a;
  border-radius: 10px;
  padding: 10px 20px 20px 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 15px; }

.primario, .secundario {
  background-color: white;
  padding: 5px;
  border: none; }
  .primario:hover, .secundario:hover {
    cursor: pointer; }

/* CONTACTO WPP */
.Whatsapp {
  left: 93%;
  top: 75%;
  position: fixed;
  cursor: pointer; }

/* PRODUCTOS */
/* SUBTITULOS DE PRODUCTOS */
.contenedor {
  background-color: skyblue;
  display: inline-block;
  position: absolute;
  text-align: center;
  color: #080807;
  margin: 240px 200px 100px 800px;
  width: 20%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49); }

.contenedor2 {
  background-color: skyblue;
  display: inline-block;
  position: absolute;
  text-align: center;
  color: #080807;
  margin: 960px 200px 100px 800px;
  width: 20%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49); }

.contenedor3 {
  background-color: skyblue;
  display: inline-block;
  position: absolute;
  text-align: center;
  color: #080807;
  margin: 1710px 200px 100px 800px;
  width: 20%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49); }

/*INDEX*/
.padreFlex {
  background-image: url(../img/imagenprincipal.jpg);
  padding: 420px 20px 20px 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

/* ACCESSORIES */
.flexCarteras {
  background-image: url(../img/Accessories/accessoriesFondo1.jpg);
  padding: 320px 20px 20px 150px;
  /* border: 1px rgb(255, 255, 255) solid; */
  /* border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.flexAros {
  background-image: url(../img/Accessories/accessoriesFondo2.jpg);
  padding: 140px 20px 20px 150px;
  /* border: 2px black solid;
    border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.flexReloj {
  background-image: url(../img/Accessories/accessoriesFondo3.jpg);
  padding: 140px 20px 20px 150px;
  /* border: 2px black solid;
    border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

/* WOMEN */
.flexVestidos {
  background-image: url(../img/Women/womenFondo1.jpg);
  padding: 320px 20px 20px 153px;
  /* border: 2px black solid;
    border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.flexFaldas {
  background-image: url(../img/Women/womenFondo2.jpg);
  padding: 140px 20px 20px 150px;
  /* border: 2px black solid;
    border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.flexBikinis {
  background-image: url(../img/Women/womenFondo3.jpg);
  padding: 140px 20px 20px 150px;
  /* border: 2px black solid;
    border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

/* MEN */
.flexCamisas {
  background-image: url(../img/Men/menFondo1.jpg);
  padding: 320px 20px 20px 150px;
  /* border: 2px black solid;
    border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.flexSudaderas {
  background-image: url(../img/Men/menFondo2.jpg);
  padding: 140px 20px 20px 150px;
  /* border: 2px black solid;
    border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.flexJean {
  background-image: url(../img/Men/menFondo3.jpg);
  padding: 140px 20px 20px 150px;
  /* border: 2px black solid;
    border-radius: 10px; */
  /* margin: 5px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.fondoFlex {
  background-image: url(../img/Contact/Contact1.jpg);
  padding: 980px 20px 25px 150px;
  /* border: 2px black solid;
    border-radius: 10px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.productoIzquierda {
  margin-left: 10px;
  margin-bottom: 15px; }
  .productoIzquierda img {
    width: 60%;
    grid-area: izquierda;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
    box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49); }

.productoCentro {
  margin-left: 10px;
  margin-bottom: 15px; }
  .productoCentro img {
    width: 60%;
    grid-area: centro;
    -webkit-box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.52);
    box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.52); }

.productoDerecha {
  margin-left: 10px;
  margin-bottom: 15px; }
  .productoDerecha img {
    width: 60%;
    grid-area: derecha;
    box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.52);
    box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.52); }

footer {
  grid-area: footer; }
