@import "variables";

.estiloContenedor {
    background-color: $color-background;
    display: inline-block;
    position: absolute;
    align-items: center;
    text-align: center;
    color: rgb(8, 8, 7);
    padding: 0px 20px 0px 20px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.49);
    box-shadow: 5px 10px 17px -1px rgba(0, 0, 0, 0.49);
}

.estiloContenedores {
    color: rgb(8, 8, 7);
    background-color: $color-background;
    background-size: auto;
    text-align: center;
    max-width: 100%;
    margin: 0;
}

.precios {
    padding: 10px 0px 0px 0px;
    text-align: center;
    background-color: $color-secondary;
    -webkit-box-shadow: -3px 6px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 6px 17px 1px rgba(0,0,0,0.75);
    box-shadow: -3px 6px 17px 1px rgba(0,0,0,0.75);
}