  /* PC */
  @media (max-width: 1455px) {
    .contenedor {
      width: 40%;
      margin-left: 190px;
      margin-right: auto;
    }
  
    .contenedor2 {
      width: 40%;
      margin-top: 2150px;
      margin-left: 190px;
      margin-right: auto;
    }
  
    .contenedor3 {
      width: 40%;
      margin-top: 4100px;
      margin-left: 190px;
      margin-right: auto;
    }
  }
  
  /* IPAD */
  @media (max-width: 768px) {
    .contenedor {
      width: 40%;
      margin-left: 190px;
  
      /* margin-right: auto; */
    }
  
    .contenedor2 {
      width: 40%;
      margin-top: 265%;
      margin-left: 190px;
  
      /* margin-right: auto; */
    }
  
    .contenedor3 {
      width: 40%;
      margin-top: 2530px;
      margin-left: 190px;
  
      /* margin-right: auto; */
    }
  }
  
  /* IPHONE */
  @media (max-width: 500px) {
    .contenedor {
      width: 40%;
      margin-left: 190px;
      margin-right: auto;
    }
  
    .contenedor2 {
      width: 40%;
      margin-top: 265%;
      margin-left: 190px;
  
      /* margin-right: auto; */
    }
  
    .contenedor3 {
      width: 40%;
      margin-top: 2350px;
      margin-left: 190px;
  
      /* margin-right: auto; */
    }
  }