@import "variables";
@import "header";
@import "extend";
@import "mixin";
@import "maps";
@import "footer";

* {
  margin: 0;
  padding: 0;
} 
  
body {
    font-family: 'Outfit', sans-serif;
    background-color: $color-primary;
  }
  
  /* NAVEGACION */

.colornavbar {
    background-color: $color-secondary;
  }

/*CONTENEDORES*/

.contenedor {
  @extend .estiloContenedor;
  margin: 240px 200px 100px 650px;
  }

h4 {
  @extend .estiloContenedores;
  margin-right: 0px !important;
  padding: 200px 0px 20px 0px;
}

h5 {
  @extend .estiloContenedores;
  margin-right: 0px !important;
  padding: 20px 0px 20px 0px;

}

/* CONTACTO */

.formulario {
  position: absolute;
  left: 38%;
  margin: 250px 15px 15px 15px;
  margin-bottom: 20px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  max-width: 300px;
}

.formularioInterno {
  background-color: map-get($estilo,color);
  border: none;
  border-width: 2px;
  border-color: rgb(144, 114, 74);
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 15px;
}

.primario, .secundario {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

/*CONTACTO WPP*/

.Whatsapp {
  @include ubicacionPantalla(93%, 75%);
  position: fixed;
  cursor: pointer;
  z-index: 200;
}

/*CONTACTO FONDO*/
.fondoFlex {
  background-image: url(../img/Contact/Contact1.jpg);
  padding: 980px 20px 25px 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* PRODUCTOS */

/*INDEX*/
.container-fluid0 {
  
  .row {
    background-image: url(../img/imagenIndex.jpg);
    align-items: center;
  }
  
  img {
    max-width: 100%;
    padding: 300px 50px 30px 50px;
    align-items: center;
  }   
  .precio {
    padding: 10px 0px 0px 0px;
    text-align: center;
    background-color: $color-secondary;
    -webkit-box-shadow: -3px 6px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 6px 17px 1px rgba(0,0,0,0.75);
    box-shadow: -3px 6px 17px 1px rgba(0,0,0,0.75);
  }

  a{
    text-decoration: none;
    color: black;
  }
}

/*OTRAS PAGINAS*/
.container-fluid1 {
  
  .row {
    background-image: url(../img/imagenprincipal1.jpg);
  }
  
  img {
    max-width: 100%;
    padding: 80px 50px 30px 50px;
    align-items: center;
  }
  
  .precio {
    @extend .precios;
  }
}

.container-fluid2 {

  .row {
    background-image: url(../img/imagenPrincipal2.jpg);
  }
  
  img {
    max-width: 100%;
    padding: 90px 50px 30px 50px;
    align-items: center;
  }
  
  .precio {
    @extend .precios;
  }
}

.container-fluid3 {

  .row {
    background-image: url(../img/imagenPrincipal3.jpg);
  }
  
  img {
    max-width: 100%;
    padding: 90px 50px 30px 50px;
    align-items: center;
  }
  
  .precio {
    @extend .precios;
  }
}

/*FOOTER*/

footer {
  margin-right: -12px;
  position:relative;
}

/* PC */
@media (max-width:1455px) {
  .contenedor {
      width: 40%;
      margin-left: 240px;
      margin-right: auto;
  }
}

/* IPAD */
@media (max-width:768px) {
  .contenedor {
      width: 45%;
      margin-left: 90px;
      /* margin-right: auto; */

  }

}

/* PHONE */
@media (max-width:300px){
  .contenedor {
      width: 50%;
      margin-left: 80px;
      margin-right: auto;
  }

}